.body{
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}
.heading-text{
    text-align: center;
    color: blue;
}
 
@media (max-width:700px){
    .body{
        padding: 10px;
    }
}